/* Coolors Exported Palette - https://coolors.co/70012b-5d0124-4b011d-380116-25000e-130007-000000 */

/* CSS HEX */
--claret: #70012bff;
--tyrian-purple: #5d0124ff;
--dark-sienna: #4b011dff;
--dark-sienna-2: #380116ff;
--dark-sienna-3: #25000eff;
--xiketic: #130007ff;
--black: #000000ff;

/* CSS HSL */
--claret: hsla(337, 98%, 22%, 1);
--tyrian-purple: hsla(337, 98%, 18%, 1);
--dark-sienna: hsla(337, 97%, 15%, 1);
--dark-sienna-2: hsla(337, 96%, 11%, 1);
--dark-sienna-3: hsla(337, 100%, 7%, 1);
--xiketic: hsla(338, 100%, 4%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$claret: #70012bff;
$tyrian-purple: #5d0124ff;
$dark-sienna: #4b011dff;
$dark-sienna-2: #380116ff;
$dark-sienna-3: #25000eff;
$xiketic: #130007ff;
$black: #000000ff;

/* SCSS HSL */
$claret: hsla(337, 98%, 22%, 1);
$tyrian-purple: hsla(337, 98%, 18%, 1);
$dark-sienna: hsla(337, 97%, 15%, 1);
$dark-sienna-2: hsla(337, 96%, 11%, 1);
$dark-sienna-3: hsla(337, 100%, 7%, 1);
$xiketic: hsla(338, 100%, 4%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$claret: rgba(112, 1, 43, 1);
$tyrian-purple: rgba(93, 1, 36, 1);
$dark-sienna: rgba(75, 1, 29, 1);
$dark-sienna-2: rgba(56, 1, 22, 1);
$dark-sienna-3: rgba(37, 0, 14, 1);
$xiketic: rgba(19, 0, 7, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-right: linear-gradient(90deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-left: linear-gradient(270deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);
$gradient-radial: radial-gradient(#70012bff, #5d0124ff, #4b011dff, #380116ff, #25000eff, #130007ff, #000000ff);